*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} */

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

/* Grids */
.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.gap-4 {
  gap: 1rem;
}

/* Alignment */
/* Flexbox utility classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* Text alignment utility class */
.text-center {
  text-align: center;
}

:root {
  --mocha-ctp-rosewater: 245, 224, 220;
  --mocha-ctp-flamingo: 242, 205, 205;
  --mocha-ctp-pink: 245, 194, 231;
  --mocha-ctp-mauve: 203, 166, 247;
  --mocha-ctp-red: 243, 139, 168;
  --mocha-ctp-maroon: 235, 160, 172;
  --mocha-ctp-peach: 250, 179, 135;
  --mocha-ctp-yellow: 249, 226, 175;
  --mocha-ctp-green: 166, 227, 161;
  --mocha-ctp-teal: 148, 226, 213;
  --mocha-ctp-sky: 137, 220, 235;
  --mocha-ctp-sapphire: 116, 199, 236;
  --mocha-ctp-blue: 137, 180, 250;
  --mocha-ctp-lavender: 180, 190, 254;
  --mocha-ctp-text: 205, 214, 244;
  --mocha-ctp-subtext1: 186, 194, 222;
  --mocha-ctp-subtext0: 166, 173, 200;
  --mocha-ctp-overlay2: 147, 153, 178;
  --mocha-ctp-overlay1: 127, 132, 156;
  --mocha-ctp-overlay0: 108, 112, 134;
  --mocha-ctp-surface2: 88, 91, 112;
  --mocha-ctp-surface1: 69, 71, 90;
  --mocha-ctp-surface0: 49, 50, 68;
  --mocha-ctp-base: 30, 30, 46;
  --mocha-ctp-mantle: 24, 24, 37;
  --mocha-ctp-crust: 17, 17, 27;
  --latte-ctp-rosewater:220, 138, 120;
  --latte-ctp-flamingo: 221, 120, 120;
  --latte-ctp-pink: 234, 118, 203;
  --latte-ctp-mauve: 136, 57, 239;
  --latte-ctp-red: 210, 15, 57;
  --latte-ctp-maroon: 230, 69, 83;
  --latte-ctp-peach: 254, 100, 11;
  --latte-ctp-yellow: 223, 142, 29;
  --latte-ctp-green: 64, 160, 43;
  --latte-ctp-teal: 23, 146, 153;
  --latte-ctp-sky: 4, 165, 229;
  --latte-ctp-sapphire: 32, 159, 181;
  --latte-ctp-blue: 30, 102, 245;
  --latte-ctp-lavender: 114, 135, 253;
  --latte-ctp-text: 76, 79, 105;
  --latte-ctp-subtext1: 92, 95, 119;
  --latte-ctp-subtext0: 108, 111, 133;
  --latte-ctp-overlay2: 124, 127, 147;
  --latte-ctp-overlay1: 140, 143, 161;
  --latte-ctp-overlay0: 156, 160, 176;
  --latte-ctp-surface2: 172, 176, 190;
  --latte-ctp-surface1: 188, 192, 204;
  --latte-ctp-surface0: 204, 208, 218;
  --latte-ctp-base: 239, 241, 245;
  --latte-ctp-mantle: 230, 233, 239;
  --latte-ctp-crust: 220, 224, 232;
}
/* Latte Background */
.bg-latte-ctp-rosewater {
  background-color: var(--latte-ctp-rosewater);
}

.bg-latte-ctp-flamingo {
  background-color: var(--latte-ctp-flamingo);
}

.bg-latte-ctp-pink {
  background-color: var(--latte-ctp-pink);
}

.bg-latte-ctp-mauve {
  background-color: var(--latte-ctp-mauve);
}

.bg-latte-ctp-red {
  background-color: var(--latte-ctp-red);
}

.bg-latte-ctp-maroon {
  background-color: var(--latte-ctp-maroon);
}

.bg-latte-ctp-peach {
  background-color: var(--latte-ctp-peach);
}

.bg-latte-ctp-yellow {
  background-color: var(--latte-ctp-yellow);
}

.bg-latte-ctp-green {
  background-color: var(--latte-ctp-green);
}

.bg-latte-ctp-teal {
  background-color: var(--latte-ctp-teal);
}

.bg-latte-ctp-sky {
  background-color: var(--latte-ctp-sky);
}

.bg-latte-ctp-sapphire {
  background-color: var(--latte-ctp-sapphire);
}

.bg-latte-ctp-blue {
  background-color: var(--latte-ctp-blue);
}

.bg-latte-ctp-lavender {
  background-color: var(--latte-ctp-lavender);
}

.bg-latte-ctp-text {
  background-color: var(--latte-ctp-text);
}

.bg-latte-ctp-subtext1 {
  background-color: var(--latte-ctp-subtext1);
}

.bg-latte-ctp-subtext0 {
  background-color: var(--latte-ctp-subtext0);
}

.bg-latte-ctp-overlay2 {
  background-color: var(--latte-ctp-overlay2);
}

.bg-latte-ctp-overlay1 {
  background-color: var(--latte-ctp-overlay1);
}

.bg-latte-ctp-overlay0 {
  background-color: var(--latte-ctp-overlay0);
}

.bg-latte-ctp-surface2 {
  background-color: var(--latte-ctp-surface2);
}

.bg-latte-ctp-surface1 {
  background-color: var(--latte-ctp-surface1);
}

.bg-latte-ctp-surface0 {
  background-color: var(--latte-ctp-surface0);
}

.bg-latte-ctp-base {
  background-color: var(--latte-ctp-base);
}

.bg-latte-ctp-mantle {
  background-color: var(--latte-ctp-mantle);
}

.bg-latte-ctp-crust {
  background-color: var(--latte-ctp-crust);
}

/* Mocha Background */
.bg-mocha-ctp-rosewater {
  background-color: rgb(var(--mocha-ctp-rosewater));
}

.bg-mocha-ctp-flamingo {
  background-color: rgb(var(--mocha-ctp-flamingo));
}

.bg-mocha-ctp-pink {
  background-color: rgb(var(--mocha-ctp-pink));
}

.bg-mocha-ctp-mauve {
  background-color: rgb(var(--mocha-ctp-mauve));
}

.bg-mocha-ctp-red {
  background-color: rgb(var(--mocha-ctp-red));
}

.bg-mocha-ctp-maroon {
  background-color: rgb(var(--mocha-ctp-maroon));
}

.bg-mocha-ctp-peach {
  background-color: rgb(var(--mocha-ctp-peach));
}

.bg-mocha-ctp-yellow {
  background-color: rgb(var(--mocha-ctp-yellow));
}

.bg-mocha-ctp-green {
  background-color: rgb(var(--mocha-ctp-green));
}

.bg-mocha-ctp-teal {
  background-color: rgb(var(--mocha-ctp-teal));
}

.bg-mocha-ctp-sky {
  background-color: rgb(var(--mocha-ctp-sky));
}

.bg-mocha-ctp-sapphire {
  background-color: rgb(var(--mocha-ctp-sapphire));
}

.bg-mocha-ctp-blue {
  background-color: rgb(var(--mocha-ctp-blue));
}

.bg-mocha-ctp-lavender {
  background-color: rgb(var(--mocha-ctp-lavender));
}

.bg-mocha-ctp-text {
  background-color: rgb(var(--mocha-ctp-text));
}

.bg-mocha-ctp-subtext1 {
  background-color: rgb(var(--mocha-ctp-subtext1));
}

.bg-mocha-ctp-subtext0 {
  background-color: rgb(var(--mocha-ctp-subtext0));
}

.bg-mocha-ctp-overlay2 {
  background-color: rgb(var(--mocha-ctp-overlay2));
}

.bg-mocha-ctp-overlay1 {
  background-color: rgb(var(--mocha-ctp-overlay1));
}

.bg-mocha-ctp-overlay0 {
  background-color: rgb(var(--mocha-ctp-overlay0));
}

.bg-mocha-ctp-surface2 {
  background-color: rgb(var(--mocha-ctp-surface2));
}

.bg-mocha-tp-surface1 {
  background-color: rgb(var(--mocha-ctp-surface1));
}

.bg-mocha-ctp-surface0 {
  background-color: rgb(var(--mocha-ctp-surface0));
}

.bg-mocha-ctp-base {
  background-color: rgb(var(--mocha-ctp-base));
}

.bg-mocha-ctp-mantle {
  background-color: rgb(var(--mocha-ctp-mantle));
}

.bg-mocha-ctp-crust {
  background-color: rgb(var(--mocha-ctp-crust));
}

/* Latte text color classes */
.text-latte-ctp-rosewater {
  color: var(--latte-ctp-rosewater);
}

.text-latte-ctp-flamingo {
  color: var(--latte-ctp-flamingo);
}

.text-latte-ctp-pink {
  color: var(--latte-ctp-pink);
}

.text-latte-ctp-mauve {
  color: var(--latte-ctp-mauve);
}

.text-latte-ctp-red {
  color: var(--latte-ctp-red);
}

.text-latte-ctp-maroon {
  color: var(--latte-ctp-maroon);
}

.text-latte-ctp-peach {
  color: var(--latte-ctp-peach);
}

.text-latte-ctp-yellow {
  color: var(--latte-ctp-yellow);
}

.text-latte-ctp-green {
  color: var(--latte-ctp-green);
}

.text-latte-ctp-teal {
  color: var(--latte-ctp-teal);
}

.text-latte-ctp-sky {
  color: var(--latte-ctp-sky);
}

.text-latte-ctp-sapphire {
  color: var(--latte-ctp-sapphire);
}

.text-latte-ctp-blue {
  color: var(--latte-ctp-blue);
}

.text-latte-ctp-lavender {
  color: var(--latte-ctp-lavender);
}

.text-latte-ctp-text {
  color: var(--latte-ctp-text);
}

.text-latte-ctp-subtext1 {
  color: var(--latte-ctp-subtext1);
}

.text-latte-ctp-subtext0 {
  color: var(--latte-ctp-subtext0);
}

.text-latte-ctp-overlay2 {
  color: var(--latte-ctp-overlay2);
}

.text-latte-ctp-overlay1 {
  color: var(--latte-ctp-overlay1);
}

.text-latte-ctp-overlay0 {
  color: var(--latte-ctp-overlay0);
}

.text-latte-ctp-surface2 {
  color: var(--latte-ctp-surface2);
}

.text-latte-ctp-surface1 {
  color: var(--latte-ctp-surface1);
}

.text-latte-ctp-surface0 {
  color: var(--latte-ctp-surface0);
}

.text-latte-ctp-base {
  color: var(--latte-ctp-base);
}

.text-latte-ctp-mantle {
  color: var(--latte-ctp-mantle);
}

.text-latte-ctp-crust {
  color: var(--latte-ctp-crust);
}

/* Mocha text color classes */
.text-mocha-ctp-rosewater {
  color: rgb(var(--mocha-ctp-rosewater));
}

.text-mocha-ctp-flamingo {
  color: rgb(var(--mocha-ctp-flamingo));
}

.text-mocha-ctp-pink {
  color: rgb(var(--mocha-ctp-pink));
}

.text-mocha-ctp-mauve {
  color: rgb(var(--mocha-ctp-mauve));
}

.text-mocha-ctp-red {
  color: rgb(var(--mocha-ctp-red));
}

.text-mocha-ctp-maroon {
  color: rgb(var(--mocha-ctp-maroon));
}

.text-mocha-ctp-peach {
  color: rgb(var(--mocha-ctp-peach));
}

.text-mocha-ctp-yellow {
  color: rgb(var(--mocha-ctp-yellow));
}

.text-mocha-ctp-green {
  color: rgb(var(--mocha-ctp-green));
}

.text-mocha-ctp-teal {
  color: rgb(var(--mocha-ctp-teal));
}

.text-mocha-ctp-sky {
  color: rgb(var(--mocha-ctp-sky));
}

.text-mocha-ctp-sapphire {
  color: rgb(var(--mocha-ctp-sapphire));
}

.text-mocha-ctp-blue {
  color: rgb(var(--mocha-ctp-blue));
}

.text-mocha-ctp-lavender {
  color: rgb(var(--mocha-ctp-lavender));
}

.text-mocha-ctp-text {
  color: rgb(var(--mocha-ctp-text));
}

.text-mocha-ctp-subtext1 {
  color: rgb(var(--mocha-ctp-subtext1));
}

.text-mocha-ctp-subtext0 {
  color: rgb(var(--mocha-ctp-subtext0));
}

.text-mocha-ctp-overlay2 {
  color: rgb(var(--mocha-ctp-overlay2));
}

.text-mocha-ctp-overlay1 {
  color: rgb(var(--mocha-ctp-overlay1));
}

.text-mocha-ctp-overlay0 {
  color: rgb(var(--mocha-ctp-overlay0));
}

.text-mocha-ctp-surface2 {
  color: rgb(var(--mocha-ctp-surface2));
}

.text-mocha-ctp-surface1 {
  color: rgb(var(--mocha-ctp-surface1));
}

.text-mocha-ctp-surface0 {
  color: rgb(var(--mocha-ctp-surface0));
}

.text-mocha-ctp-base {
  color: rgb(var(--mocha-ctp-base));
}

.text-mocha-ctp-mantle {
  color: rgb(var(--mocha-ctp-mantle));
}

.text-mocha-ctp-crust {
  color: rgb(var(--mocha-ctp-crust));
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-6 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:bg-red-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity, 1));
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
  }

  .dark\:text-gray-100 {
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity, 1));
  }
}

@media (prefers-color-scheme: dark) {
  body { background: rgb(var(--mocha-ctp-base)); color: rgb(var(--mocha-ctp-text)); }
  a:link { color: rgb(var(--mocha-ctp-blue)); }
  input[type="text"] {
    color: #4c4f69; /* Dark color for text inside input fields */
    background-color: #eff1f5; /* Ensure the background is white */
  }

.saved-feed-card-bg {
  background-color: rgb(var(--mocha-ctp-surface0));
}

.saved-feed-card-button-text {
  color: rgb(var(--mocha-ctp-base));
}

.saved-feed-card-view-button {
  background-color: rgb(var(--mocha-ctp-blue));
}

.saved-feed-card-remove-button {
  background-color: rgb(var(--mocha-ctp-red));
}
}

@media (prefers-color-scheme: light) {
  body { background: rgb(var(--latte-ctp-base)); color: rgb(var(--latte-ctp-text)); }
  a:link {color: rgb(var(--latte-ctp-blue));}
  input[type="text"] {
    color: #4c4f69; /* Dark color for text inside input fields */
    background-color: #ffffff; /* Ensure the background is white */
  }

.saved-feed-card-bg {
  background-color: rgb(var(--latte-ctp-mantle));
}

.saved-feed-card-button-text {
  color: rgb(var(--latte-ctp-base));
}

.saved-feed-card-view-button {
  background-color: rgb(var(--latte-ctp-blue));
}

.saved-feed-card-remove-button {
  background-color: rgb(var(--latte-ctp-red));
}

}